<!DOCTYPE html>
%html
  %head
    %title GooseLab Server Watch 
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    #header.container
      .navbar.navbar-inverse.navbar-fixed-top
        .navbar-inner
          %a.brand ServerWatch
          %ul.nav
            %li.divider-vertical{class: is_active?('servers','index')}= link_to 'Home', servers_path 
            %li.divider-vertical{class: is_active?('server_infos','index')}= link_to 'Servers', server_infos_path 
    .container.span11.offset4 
      -if notice
        %p.alert= notice
      -if alert
        %p.alert= alert
    = yield
